.Rproj.user
.Rhistory
.RData
*.log
*.aux
*.out
*.synctex.gz

*.js
*.otf
*.woff
Class1/Class 1_files/mathjax-23/images/MenuArrow-15.png
Class1/Class 1_files/mathjax-23/LICENSE
*.png
Class2/Class 2 ready/Class2_files/mathjax-23/LICENSE